In [93]:
# 작업형 유형1
import pandas as pd
df = pd.read_csv("./data/type1_data1.csv")

# df.info()

#01: f5가 0이 아닌 데이터 출력
cond = df['f5'] != 0
df = df[cond]
print(df)

#02 위 데이터에 views 컬럼 결측치 보정(최소값)
views_min = df['views'].min()
print('최소값:', views_min, type(views_min))

df['views'] = df['views'].fillna(views_min)
df.info()

# 'views' 컬럼의 중앙값
views_median = int(df['views'].median())
print('중앙값:', views_median, type(views_median))

# df.head()

        id    age city    f1  f2    f3    f4         f5  subscribed    views
0     id01    2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16   6820.0
1     id02    9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12   2534.0
2     id03   27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16   7312.0
3     id04   75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21    493.0
4     id05   24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07   1338.0
..     ...    ...  ...   ...  ..   ...   ...        ...         ...      ...
97    id97  100.0   경기   NaN   0  gold  INFP  67.886373  2024-03-18   6687.0
98    id98   39.0   경기  58.0   2   NaN  INFP  98.429899  2024-10-02    865.0
99    id99    1.0   경기  47.0   0  gold  ESFJ  97.381034  2024-12-02   6090.0
100  id100   47.0   경기  53.0   0   vip  ESFP  33.308999  2024-02-21  15535.0
101   id68   35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29   8599.0

[102 rows x 10 columns]
최소값: 42.0 <class 'float'>
<class 'pandas.core.frame.DataFrame'>
Index: 102 entries, 0 to 101
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          102 non-null    object
 1   age         102 non-null    float64
 2   city        102 non-null    object
 3   f1          71 non-null     float64
 4   f2          102 non-null    int64
 5   f3          74 non-null     object
 6   f4          102 non-null    object
 7   f5          102 non-null    float64
 8   subscribed  102 non-null    object
 9   views       102 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 8.8+ KB
중앙값: 5924 <class 'int'>

In [111]:
import pandas as pd

df = pd.read_csv("./data/type1_data1.csv")

#02-1. subscribed 컬럼에서 최빈값
subscribed_mode_val = df['subscribed'].mode()
print('최빈값:', subscribed_mode_val[0], type(subscribed_mode_val[0]))

day = int(subscribed_mode_val[0].split('-')[2])
print(day, type(day))

최빈값: 2025-02-17 <class 'str'>
17 <class 'int'>

In [123]:
# 다른 방법
import pandas as pd
df = pd.read_csv("./data/type1_data1.csv")
df = df['subscribed'].value_counts()
df.index[0]

'2025-02-17'

In [233]:
import pandas as pd

df = pd.read_csv("./data/type1_data1.csv")

#결측치 확인
print(df.isnull().sum())

#03-1.결측치 제거
df = df.dropna(subset=['f1','f3','views'])
print('작업후', df.isnull().sum(), sep='\n')

#03-2. views컬럼을 f1 컬럼으로 나눈 값을 새로운 컬럼으로 추가
df['new_f1'] = df['views']/df['f1']

#03-3. 새 컬럼 값 중 가장 큰 값을 가진 행의 age를 정수로 구하시오
new_f1_max_val = df['new_f1'].max()
print('최대값:', new_f1_max_val, type(new_f1_max_val))

tgt = df[df['new_f1'] == new_f1_max_val]
print(int(tgt.iloc[0, 1]))

# df.head()

id             0
age            0
city           0
f1            31
f2             0
f3            29
f4             0
f5             0
subscribed     0
views          4
dtype: int64
작업후
id            0
age           0
city          0
f1            0
f2            0
f3            0
f4            0
f5            0
subscribed    0
views         0
dtype: int64
최대값: 423.7826086956522 <class 'float'>
22

In [305]:
import pandas as pd

df = pd.read_csv("./data/type1_data1.csv")
df

#04-1. views 컬럼의 결측값을 0으로
# print('전', df.isnull().sum())
tgt_val = 0
df['views'] = df['views'].fillna(tgt_val)
# print('후', df.isnull().sum())

#04-2. views 상위 10번째 값?
aaa = df['views'].sort_values(ascending=False)
print('aaa\n', aaa.head(10), type(aaa), aaa[0])



#04-3. views 상위 10개 값을 10번째 값으로 변경
# df['views']>=aaa

aaa
 5      21550.0
56     19589.0
83     19139.0
32     17421.0
100    15535.0
10     15535.0
104    13543.0
114    10346.0
9       9992.0
113     9877.0
Name: views, dtype: float64 <class 'pandas.core.series.Series'> 6820.0